#include <zephyr/dt-bindings/sensor/stts22h.h>

&arduino_i2c {
  status = "okay";

  stts22h: stts22h@3c {
    compatible = "st,stts22h";
    reg = <0x3c>;
    sampling-rate = <STTS22H_1Hz>;
  };

};
